/* normalize/normalizar (quitar propiedades molestas) */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* tipos de bordes dotted, dashed, solid, double, inset y outset */
/* bordes= left, right, top, bottom */
/* paddin top,left,right bottom */
/* sombra ejex ejexy difuminado y tamaño de sombra */
.caja{
    box-sizing: border-box;/* establecer un tamaño inamovible */
    width: 200px;/* ancho */
    height: 200px;/* alto */
    background-color: aquamarine;
    margin-top: 100px;/* deja espacio del borde hacia afuera */
    margin-left: 100px;/* deja espacio a la izq del div */
    border: 5px solid blueviolet;/* borde visible */
    padding: 10px 30px 28px 40px;/* orden arriba, derecha, abajo y izq*/
    border-radius: 100px;/* borde redondo */
    box-shadow: 
    20px 20px 3px 0px blueviolet,/* sombra en la caja */
    inset 0px 0px 10px 5px white /* sombra interna de la caja */
    
}
span{
    background-color: aquamarine;
    display: inline-block;
    margin: 20px;
    padding: 20px;
    border: solid blueviolet;
}
header{
    background-color: rgb(255,230,0);
    padding: 32px ;
}
header input{
    width: 344px;
    padding: 10px 15px;
    background-color: white;
    border: none;
    font-size: 16px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.205);
    border-radius: 2px;/* redondeado de puntas */
    border: 1px solid transparent;
}
header input:focus-visible{/* pseudo clase */
    outline: none;
    border: 1px solid #3484fa;
}
header .buscador::placeholder{ /* pseudo elemento */
    color:#999999;
}
a{
    color: black;
    background-color: gray;
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 500px;
}
a:hover{ /* pseudo clase */
    background-color: aquamarine;
    font-size: 20px;
    transition: 1s ease-in-out;/* transicion en X tiempo */
}