@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
:root{
    --primary-text-color: aqua;
    --secondary-text-color: #ececec;
}
/* Color card */
.color-card{
    width: 250px;
    height: 300px;
    display: flex;
    flex-direction: column;
}

.color-card .colors{
    width: 100%;
    height: 250px;
    border-radius: 10px;
    overflow: hidden;
    row-gap: 20px;
}
.color-card .colors .color:nth-child(1){
height: 40%;
}
.color-card .colors .color:nth-child(2){
height: 25%;
}
.color-card .colors .color:nth-child(3){
height: 20%;
}
.color-card .colors .color:nth-child(4){
height: 15%;
}
.color-card .color-card-control{
display: flex;
flex-direction: row;
justify-content: space-between;
gap: 20px;
}
.color-card .color-card-control .btn-like{
    height: 38px;
    display: flex;
    gap: 5px;
    align-items: center;
    background-color: transparent;
    border: 1px solid;
    justify-content: center;
    padding: 0 14px;
    font-size: 14px;
}
.color-card .color-card-control .btn-like:hover{
    background-color: rgba(245, 245, 220, 0.644);
}

.color-card .color-card-control .update{
    font-size: 14px;
    
}

.color-card-container{
    display: flex;
    gap: 50px;
    width: 1150px;
    flex-wrap: wrap;
}