@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:wght@100..900&display=swap');

:root {
    --ff-text: "DM Sans", sans-serif;
    --bg-color-terciary: #f4f5ff;
    --text-color: #2f1c6a;
    --bg-color: #fafbff;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.text{
    font-size: 16px;
    color: var(--text-color);
    line-height: 24px;
}

.card{
    border-radius: 5px;
    padding: 32px;
    max-width: 508px;
}

.section{
    padding: 32px 16px;
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
}

.reviews{
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}

.review-card{
    background-color: var(--bg-color-terciary);
    width: 100%;
    display: flex;
    flex-direction: column;

}

.review-card img{
    width: 200px;
}

header{
    display: flex;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
}

body{
    margin-top: 100px;
}

.header nav{
    display: none;
}

@media screen and (min-width: 750px){
    .card{
        max-width: 688px;
    }
    
}
@media screen and (min-width: 1050px) {

}
    .reviews{
        flex-direction: row;
    }
    
    .review-card{
        flex: 1;
    }
