/* aca van las fuentes y tamaños */
@import url('https://fonts.googleapis.com/css2?family=Jersey+15&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*
{/* selector de fuentes universal */
    font-family: var(--ff-text);
}

.tit/* selector de clase */
{
    font-family: var(--ff-title);
    font-size: 32px;
    color: var(--primary-color);
    text-decoration: underline;
}

